@charset "UTF-8";
/* CSS Document */
body, html{
	margin: 0;
	padding:0;
}

body {
	padding-left: 10px;
}
img{
	float:right;
	width:400px;
	height:250px;
	margin-top:100px;
	margin-right: 25px;
}

legend {
	font-style: italic;
	position: absolute;
	top: 350px;
	left: 350px;
	text-align:right;
}

h1{
	font-weight:bold;
	font-size: 48px;
	color:navy;
	text-align: center;
	
}

#auteur{
	text-align:right;
}
div{
	width:700px;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	float:left;
}